<div class="login-container">
  <div [@slideIn]>
    <div class="form-structor">
      <div class="login">
        <div class="center">
          <h2 class="form-title" id="login"><span>or</span>Iniciar Sesión</h2>
          <div class="form-holder">
            <input type="email" class="input" placeholder="Correo Electrónico" [(ngModel)]="email" name="email" required />
            <input type="password" class="input" placeholder="Contraseña" [(ngModel)]="password" name="password" required />
            <input type="text" class="input" placeholder="Folio" [(ngModel)]="folio" name="folio" required />
          </div>
          <button type="submit" class="submit-btn" (click)="login()">Iniciar Sesión</button>
          <a routerLink="/register" class="link">Registrarse</a>
          <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

