<div class="content-wrapper">
  <section>
    <div class="example-label">
      Monitoreo de la biblioteca

      <div class="example-button-row">
        <div class="example-button-container">
          <button mat-fab extended routerLink="/sensorNoise">
            <span class="material-symbols-outlined"> graphic_eq </span>
            Ruido
          </button>
        </div>
        <div class="example-button-container" routerLink="/sensorTemperature">
          <button mat-fab extended>
            <span class="material-symbols-outlined">device_thermostat</span>
            Temperatura de la biblioteca
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab extended routerLink="/sensorLight">
            <span class="material-symbols-outlined">light_mode</span>
            Nivel de luz de la biblioteca
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab extended>
            <span class="material-symbols-outlined"> airwave </span>
            Nivel de pureza del aire de la biblioteca
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
